<?xml version="1.0" encoding="UTF-8"?>
<web-app>
    <servlet>
        <servlet-name>CreateRuleServlet</servlet-name>
        <servlet-class>com.ruleengine.ast.CreateRuleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateRuleServlet</servlet-name>
        <url-pattern>/createRule</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>EvaluateRuleServlet</servlet-name>
        <servlet-class>com.ruleengine.ast.EvaluateRuleServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EvaluateRuleServlet</servlet-name>
        <url-pattern>/evaluateRule</url-pattern>
    </servlet-mapping>
</web-app>
